Source: dvbhdhomerun
Section: video
Priority: extra
Maintainer: Villy Thomsen <tfylliv@gmail.com>
Build-Depends: debhelper (>= 7), cmake, libhdhomerun-dev, dkms
Standards-Version: 3.8.4
Homepage: http://sourceforge.net/projects/dvbhdhomerun

Package: dvbhdhomerun-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dvbhdhomerun-dkms | dvbhdhomerun-source
Description: User space application that talks with the HDHomeRun.
 The user space daemon communicates with the kernel driver in order to
 get requests from DVB applications. Feeds those requests to the
 HDHomeRun via SiliconDusts open source library.

Package: dvbhdhomerun-utils-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dvbhdhomerun-utils
Description: Debug symbols for the userhdhomerun application.

Package: dvbhdhomerun-source
Architecture: all
Depends: module-assistant, build-essential, debhelper (>= 7), make, bzip2, linux-headers-generic | linux-headers
Description: Source for the dvbhdhomerun kernel driver.
 This package provides the source code for the dvbhdhomerun kernel modules, to
 be build with module-assistant. The dvbhdhomerun-utils package is required in
 order to make use of these modules. Kernel source or headers are required to
 compile these modules.

Package: dvbhdhomerun-dkms
Architecture: all
Depends: dkms, build-essential, debhelper (>= 7), make, bzip2, linux-headers-generic | linux-headers
Description: Source for the dvbhdhomerun kernel driver.
 This package provides the source code for the dvbhdhomerun kernel modules, to
 be build with dkms. The dvbhdhomerun-utils package is required in order to make
 use of these modules. Kernel source or headers are required to compile these
 modules.
