#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

NAME = $(shell grep "^Source: " debian/control|head -n 1|sed 's/Source: \(.*\)/\1/g')
VERSION = $(shell grep "^$(NAME) " debian/changelog|head -n 1|sed 's/.*(\(.*\)).*/\1/g')

# For dkms
SRC=$(CURDIR)/debian/$(NAME)-dkms/usr/src

# For module assistant
NAME_MODASS:=dvbhdhomerun-source


build:
	dh_testdir
	$(MAKE) -C userhdhomerun

clean: 
	dh_testdir
	dh_testroot
	dh_clean

#	$(MAKE) -C kernel clean
	$(MAKE) -C userhdhomerun clean


install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_installdirs -a usr/share/modass/overrides
	dh_dkms -V

	# User Space Application
	$(MAKE) -C userhdhomerun PREFIX=$(CURDIR)/debian/dvbhdhomerun-utils install

	# DKMS package.
	install -d "$(SRC)/$(NAME)-$(VERSION)"
	cp -a kernel/*.c "$(SRC)/$(NAME)-$(VERSION)"	
	cp -a kernel/*.h "$(SRC)/$(NAME)-$(VERSION)"	
	cp -R kernel/kernelheaders "$(SRC)/$(NAME)-$(VERSION)"	
	cp -a kernel/Makefile "$(SRC)/$(NAME)-$(VERSION)"	
	chmod 644 -R "$(SRC)/$(NAME)-$(VERSION)"
	cp -a kernel/prep.sh "$(SRC)/$(NAME)-$(VERSION)"

	# Module assistant
	# Create the directories to install the source into
	dh_installdirs -p$(NAME_MODASS)  usr/src/modules/$(NAME)/debian

	# Copy only the driver source to the proper location
	cp kernel/*.h  debian/$(NAME_MODASS)/usr/src/modules/$(NAME)
	cp kernel/*.c  debian/$(NAME_MODASS)/usr/src/modules/$(NAME)
	#cp -R kernel/kernelheaders debian/$(NAME_MODASS)/usr/src/modules/$(NAME)
	cp kernel/Makefile debian/$(NAME_MODASS)/usr/src/modules/$(NAME)
	cp kernel/prep.sh debian/$(NAME_MODASS)/usr/src/modules/$(NAME)

	# Copy the needed debian/ pieces to the proper location
	cp debian/*modules.in* \
		debian/$(NAME_MODASS)/usr/src/modules/$(NAME)/debian
	cp debian/rules debian/changelog debian/copyright \
		debian/compat debian/$(NAME_MODASS)/usr/src/modules/$(NAME)/debian/
	cd debian/$(NAME_MODASS)/usr/src && tar c modules | bzip2 -9 > $(NAME).tar.bz2 && rm -rf modules

	ln -s ../packages/default.sh debian/dvbhdhomerun-utils/usr/share/modass/overrides/dvbhdhomerun-source

	dh_install

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs debian/changelog
	dh_installlogrotate
	dh_installudev --priority=59
	dh_installinit
	dh_installdocs
	dh_link
	dh_strip --dbg-package=dvbhdhomerun-utils-dbg
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# module-assistant stuff
PACKAGE = dvbhdhomerun-modules
MA_DIR ?= /usr/share/modass
-include $(MA_DIR)/include/generic.make
-include $(MA_DIR)/include/common-rules.make

kdist_clean: prep-deb-files
	dh_clean
	$(MAKE) clean

kdist_config: prep-deb-files
binary-modules: kdist_config
	dh_testdir
	dh_testroot
	dh_clean -k
# build and install the module
	$(MAKE) KVERS=$(KVERS) LINUXSRC=$(KSRC) MODPREFIX=$(CURDIR)/debian/$(PKGNAME)/ install
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installmodules
	dh_installdeb
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(DEB_DESTDIR)


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install binary-modules kdist kdist_config kdist_image kdist_clean
